<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <ul>
        <li>
            nome: <%= name %>
        </li>
        <li>
            telefone: <%= tel %>
        </li>
        <li>
            email: <%= email %>
        </li>
        <li>
            assunto: <%= assunto %>
        </li>
        <li>
            mensagem: <%= textarea %>
        </li>
        <li>
            checkbox: <%= check %>
        </li>
    </ul>
</body>

</html>